<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
</head>
<div class="container-fluid main_content">
  <div class="home-container justify-content-md-center">
  <div class="content">
  <h1 class="subheader">Welcome to my</h1>
    <div class="icon_block">
      <a href="#"><h1 class="header">Alpha Blog</h1></a>
      <a href="#" class="icon">A</a>
    </div>
    
    <div class="subline"></div>
    <div class="info"><i class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut fuga quos voluptatem adipisci illum nisi quasi vitae molestias laborum iure? Cumque alias, incidunt a id ipsam iusto nostrum necessitatibus ratione.</i></div>
  </div>
</div>
</div>